<!-- <div>
    <ul>
        <li *ngFor="let obj of dataset; trackBy: byid" (click)="selectItem(obj)">
            {{obj.name}}
        </li>
    </ul>
</div>
<input type="button" value="cp1" (click)="cpEvent(cp1)">
<component1 [item]="currentItem" (parentEvent)="parentEvent($event)" #cp1></component1> -->
<!-- <select name="" id="" [(ngModel)]="common.lanType">
    <option value="en">en</option>
    <option value="cn">cn</option>
</select> -->
<!-- <datagrid config="cnode"></datagrid> -->
<!-- <router-outlet></router-outlet> -->

<!-- <h1 hl="#58bc58" name="Tom" age="22">{{title}}</h1>
<h3 [id]="id" [attr.age]="student.age">{{student.name}}-{{student.age}}</h3>
<div [class]="className" [class.test2]="1 == 2" [style.fontSize.px]="size" [style.color]="color">Ag-4.0</div>

<input type="text" [(ngModel)]="title" #title22>

<p *ngFor="let item of dataset; let idx = index; trackBy:Byid">
    <span *ngFor="let key of getKeys(item)">{{key}}-{{item[key]}}</span>
</p>



<div [ngSwitch]="title">
    <p *ngSwitchCase="app">app</p>
    <p *ngSwitchCase="123">123</p>
    <p *ngSwitchCase="234">234</p>
    <p *ngSwitchDefault>666</p>
</div> -->


<!-- <students></students> -->

<div class="dkheader">
    <select name="" id="" [(ngModel)]="dic.lanType">
        <option value="en">en</option>
        <option value="cn">cn</option>
    </select>
</div>
<div class="dknav">
    <ul>
        <li *ngFor="let item of [] | range: 10">{{item}}</li>
    </ul>
</div>
<div class="dkbody">
    <book></book>
</div>